
<section id="#home-section-articles2" class="home-section">
  <h1> Tous savoir sur la musculation </h1>
  <blockquote class="blockquote text-center">
    <p>
        Tu souhaites te renseigner sur la musculation et tu ne sais pas par ou commencer ?
        C'est dans cette sections que tu en apprendras le plus pour te lancer.
    </p>
    <button>Voir les articles</button>
  </blockquote>
    
</section>
<section id="home-section-articles" class="home-section">
  <h1> Articles</h1>  
    <p>
        Articles
    </p>
</section>
<section id="home-section-programmes" class="home-section">
  <h1> Programmes</h1>
    <p>
        Programmes
    </p>
</section>



