.home-section {
    height: 500px;
}

.home-section h1 {
    text-align: center;
    padding-top: 30px;
}

#home-section-articles{
    background-color: rgb(235, 235, 235);
    color : black;
}

#home-section-articles2{
    background-color: white;
    color : black;
}